
@media screen and (min-width: 841px){
	/***************************************
	ESTILOS NAVEGACION
	***************************************/
	#navega__menu {
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;
		flex: 1;
		padding-right: 20px;
		position: relative;
	}


}

@media screen and (max-width: 1180px) {
	/***************************************
	ESTILOS SECCION INICIO
	***************************************/
	#inicio__background {
		height: 120vh;
	}
	#inicio__cont-foto {
		margin-right: 0;
		width: 700px;
	}
}

@media screen and (max-width: 1080px) {
	/***************************************
	ESTILOS SECCION ACERCA
	***************************************/
	#acerca__texto {
		flex: 1;
		min-width: 500px;
	}

	#acerca__tecnologias {
		min-width: 500px;
	}
} 

@media screen and (max-width: 840px) {
	/***************************************
	ESTILOS NAVEGACION
	***************************************/
	#navega__menu {
		display: block;
		flex-wrap: wrap;
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-color: black;
		padding: 20% 0;
		z-index: 10;
		transition: transform 1s;
		left: 110%;
	}

	.navega__enlaces {
		text-align: center;
		margin: 30px 0;
	}

	.navega__enlaces a {
		font-size: 30px;
	}

	#navega_icono {
		display: flex;
	}

	#navega__contenedor {
		justify-content: space-between;
	}
}

@media screen and (max-width: 530px) {
	/***************************************
	ESTILOS SECCION ACERCA
	***************************************/
	#acerca__texto {
		flex: 1;
		min-width: 300px;
	}

	#acerca__tecnologias {
		min-width: 300px;
	}

}